.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto; 
        img {
            width: 100%;
        }
    }
    .slick-prev, .slick-next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            height: 50px;
            width: 30px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        li {
            list-style-type: none;
            margin: 5px;
        }
    }
    #slick-slide-control02, #slick-slide-control01, #slick-slide-control00 {
        border-radius: 100px;
        border: solid #000 2px;
        background-color: #fff;
        width: 35px;
        height: 35px;
    }
}