.privilege {
    padding: 70px 0 65px 0;
    background-color: #F6F6F6;    
    &__wrapper {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__items {
        width: 290px;
        padding: 10px;
        img {
            margin-bottom: 35px;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }
    &__descr {        
        font-weight: 300;
        font-size: 14px;
        span {
            color:  #FF0000;
            text-decoration: underline;
        }
    }
    &__icons {
        &_animated{
            animation: heartbeat 1.5s ease infinite; //название, время, значение, значение 
             
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}