.reviews {
    min-height: 920px;    
    &__item {
        display: flex;
        min-height: 210px;
        margin: 30px;
        align-items: center;
    }
    &__img {
        padding-right: 60px;        
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
    }
}