.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;        
    font-style: normal;    
    &_left {
        text-align: left;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
    }
}
    